@if (0 === turns().length) {
	<p class="fs-sm color-contrast-mid">No moves yet.</p>
} @else {
	<ol #line class="line flex-row gap-3">
		@for (turn of turns(); track turn.number) {
			<li class="turn fs-sm flex-row align-center gap-1">
				<span class="number">{{ turn.number }}.</span>

				<span class="moves flex-row align-center br-1">
					<span class="move white px-2 fw-lg">{{ turn.white ?? '…' }}</span>

					<span class="move black px-2 fw-lg">{{ turn.black ?? '…' }}</span>
				</span>
			</li>
		}
	</ol>
}
