.header {
	padding-top: var(--safe-padding-top);
	border-bottom: solid 1.5px var(--color-primary);

	.logo {
		height: 24px;
	}

	.log-in {
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}
