<section
	class="header force-light pb-2 px-4 surface-contrast color-primary flex-row align-center justify-between"
>
	<button appRouterLink="/" class="logo flex-row gap-2 align-center color-primary">
		<img src="icon-solo-dark.svg" alt="App Logo" />
		<h3>{{ title() }}</h3>
	</button>

	@if (session.isAuthenticated()) {
		<span class="fs-md">{{ session.username() }}</span>
	} @else if (session.isAnonymous()) {
		<button appRouterLink="/login" class="log-in fs-md color-primary">Log in</button>
	}
</section>
