<nav
	class="nav force-light px-4 surface-contrast color-primary flex-row align-center justify-center gap-6"
>
	<button appThemed appRouterLink="/" icon="house" [iconSize]="28" aria-label="Home"></button>

	<button
		appThemed
		appRouterLink="/match"
		icon="dice"
		[iconSize]="28"
		aria-label="Play"
		[routerLinkActiveOptions]="{ exact: false }"
	></button>

	<button
		appThemed
		appRouterLink="/training"
		icon="timer"
		[iconSize]="28"
		aria-label="Training"
		[routerLinkActiveOptions]="{ exact: false }"
	></button>

	<button
		appThemed
		appRouterLink="/friends"
		icon="user-plus"
		[iconSize]="28"
		aria-label="Friends"
		[routerLinkActiveOptions]="{ exact: false }"
	></button>

	<button
		appThemed
		appRouterLink="/settings"
		icon="gear"
		[iconSize]="28"
		aria-label="Settings"
		[routerLinkActiveOptions]="{ exact: false }"
	></button>
</nav>
