$items: 5;

.navbar {
	--items: #{$items};
	--icon-size: 28px;
	--indicator-size: 54px;
	--glass-opacity: 45%;
	--glass-blur: 6px;
	--glass-blur-active: 12px;
	--edge-inset: var(--spacing-4);
	--slot-width: calc((100% - var(--edge-inset) * 2) / var(--items));

	position: relative;
	flex-shrink: 0;
	height: var(--nav-height);

	.glass,
	.indicator {
		pointer-events: none;
		position: absolute;
		inset-block: 0 var(--safe-offset-bottom);
	}

	.glass {
		left: calc(var(--edge-inset) + var(--index, 0) * var(--slot-width));

		width: var(--slot-width);

		background-color: rgb(from var(--color-contrast-mid-dark) r g b / var(--glass-opacity));
		backdrop-filter: blur(var(--glass-blur));

		transition:
			background-color var(--transition-duration) var(--transition-easing),
			backdrop-filter var(--transition-duration) var(--transition-easing);

		&:nth-of-type(2) {
			left: 0;
			width: calc(var(--slot-width) + var(--edge-inset));
		}

		&:nth-of-type(#{$items + 1}) {
			width: calc(var(--slot-width) + var(--edge-inset));
		}
	}

	.indicator {
		left: var(--edge-inset);
		transform: translateX(calc(var(--index, 0) * 100%));

		display: flex;
		align-items: center;
		justify-content: center;

		width: var(--slot-width);

		opacity: 1;

		transition:
			transform var(--transition-duration) var(--transition-easing),
			opacity var(--transition-duration) var(--transition-easing);

		&::before {
			content: '';

			aspect-ratio: 1;
			width: var(--indicator-size);
			border-radius: 50%;

			background-color: var(--color-accent);
		}
	}

	.item {
		pointer-events: none;

		position: relative;

		display: flex;
		flex: 1;

		height: 100%;
		padding-bottom: var(--safe-offset-bottom);
		border-top: solid 1.5px var(--color-primary);

		background-color: var(--color-contrast);

		mask-image: var(--icon), linear-gradient(rgb(0 0 0) 0 0);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-clip: border-box;
		mask-origin: content-box, border-box;
		mask-size:
			auto var(--icon-size),
			auto;
		mask-composite: exclude;

		&:not(:last-child) {
			margin-right: -1px;
		}

		&:first-of-type {
			margin-left: calc(var(--edge-inset) * -1);
			padding-left: var(--edge-inset);
		}

		&:last-of-type {
			margin-right: calc(var(--edge-inset) * -1);
			padding-right: var(--edge-inset);
		}

		.hit {
			pointer-events: auto;
			flex: 1;
			transition: background-color var(--transition-duration) var(--transition-easing);
		}

		&:focus-visible .hit {
			background-color: var(--color-contrast-hover);
		}
	}

	&:not(:has(.item.active)) .indicator {
		opacity: 0;
	}

	@for $index from 1 through $items {
		&:has(.item:nth-of-type(#{$index}).active) {
			.indicator {
				--index: #{$index - 1};
			}

			.glass:nth-of-type(#{$index + 1}) {
				background-color: transparent;
				backdrop-filter: blur(var(--glass-blur-active));
			}
		}
	}
}
