<nav class="navbar force-light px-4 flex-row" [attr.aria-label]="I18n.common.NAV_MAIN | i18n">
	<span class="indicator" aria-hidden="true"></span>

	<span class="glass" style="--index: 0" aria-hidden="true"></span>
	<span class="glass" style="--index: 1" aria-hidden="true"></span>
	<span class="glass" style="--index: 2" aria-hidden="true"></span>
	<span class="glass" style="--index: 3" aria-hidden="true"></span>
	<span class="glass" style="--index: 4" aria-hidden="true"></span>

	<button
		class="item"
		style="--icon: url('/svg/icon/house.svg')"
		appRouterLink="/"
		[attr.aria-label]="I18n.common.HOME | i18n"
	>
		<span class="hit" aria-hidden="true"></span>
	</button>

	<button
		class="item"
		style="--icon: url('/svg/icon/chess-board.svg')"
		appRouterLink="/match"
		[attr.aria-label]="I18n.common.PLAY | i18n"
		[routerLinkActiveOptions]="{ exact: false }"
	>
		<span class="hit" aria-hidden="true"></span>
	</button>

	<button
		class="item"
		style="--icon: url('/svg/icon/timer.svg')"
		appRouterLink="/training"
		[attr.aria-label]="I18n.common.TRAINING | i18n"
		[routerLinkActiveOptions]="{ exact: false }"
	>
		<span class="hit" aria-hidden="true"></span>
	</button>

	<button
		class="item"
		style="--icon: url('/svg/icon/circle-user.svg')"
		appRouterLink="/profile"
		[attr.aria-label]="I18n.common.PROFILE | i18n"
		[routerLinkActiveOptions]="{ exact: false }"
	>
		<span class="hit" aria-hidden="true"></span>
	</button>

	<button
		class="item"
		style="--icon: url('/svg/icon/gear.svg')"
		appRouterLink="/settings"
		[attr.aria-label]="I18n.common.SETTINGS | i18n"
		[routerLinkActiveOptions]="{ exact: false }"
	>
		<span class="hit" aria-hidden="true"></span>
	</button>
</nav>
