NODE_ENV=development

DB_HOST=chesspecker-db
DB_PORT=5432
DB_USER=chesspecker
DB_PASS=5D523131^30e1_4c44@9781!6bd0C50c67c2
DB_NAME=chesspecker
DB_NAME_TEST=chesspecker_test
DB_CERT=cert

API_PROTOCOL=https
API_DOMAIN=marcbook-air.local
API_PORT=3000
API_PREFIX=/api
API_DEBUG_PORT=9229
API_CORS_ALLOWED_DOMAINS=https://marcbook-air.local
API_COOKIE_SECRET=051a01fbf2014eb79bdf13617cfa22bb
API_COOKIE_DOMAIN=marcbook-air.local

APP_PORT=4200

JWT_ID=chesspecker
JWT_ALGORITHM=HS512
JWT_ISSUER=chesspecker
JWT_AUDIENCE=chesspecker
JWT_ACCESS_TOKEN_EXPIRES_IN=1d
JWT_REFRESH_TOKEN_EXPIRES_IN=15d
JWT_SECRET=de5e0e4709d34618b110bf1f7b1a87d2
