section {
	width: 100%;
	max-width: 34rem;
}

.bookmark-section {
	order: 1;
}

section > div:nth-child(2) {
	order: 5;
}

section > div:nth-child(3) {
	order: 2;
}

section > div:nth-child(4),
section > div:nth-child(5) {
	order: 3;
}

section > div:nth-child(6) {
	order: 1;
}

section > div:nth-child(7) {
	order: 4;
}

.error {
	color: rgb(196 48 38);
}

.row {
	border: 1px solid var(--color-contrast-mid);
}

.empty {
	opacity: 0.7;
}
