<section class="flex-col gap-6">
	<div class="flex-col gap-2">
		<h4>{{ I18n.setting.LANGUAGE | i18n }}</h4>

		<p class="fs-sm color-contrast-mid">{{ I18n.setting.LANGUAGE_INTRO | i18n }}</p>

		<form [formGroup]="form" class="flex-col gap-1">
			<ng-template #spanishLabel>
				<span class="language">
					<img class="flag" [src]="languageFlag.es" alt="" />

					<span class="label">{{ languageName.es }}</span>
				</span>
			</ng-template>

			<ng-template #englishLabel>
				<span class="language">
					<img class="flag" [src]="languageFlag.en" alt="" />

					<span class="label">{{ languageName.en }}</span>
				</span>
			</ng-template>

			<input appThemed type="radio" [label]="spanishLabel" value="es" formControlName="language" />
			<input appThemed type="radio" [label]="englishLabel" value="en" formControlName="language" />
		</form>
	</div>

	<div class="flex-col gap-2">
		<h4>{{ I18n.setting.APPEARANCE | i18n }}</h4>

		<p class="fs-sm color-contrast-mid">{{ I18n.setting.APPEARANCE_INTRO | i18n }}</p>

		<form [formGroup]="form" class="flex-col gap-1">
			<input
				appThemed
				type="radio"
				[label]="I18n.setting.APPEARANCE_SYSTEM | i18n"
				value="system"
				formControlName="appearance"
			/>
			<input
				appThemed
				type="radio"
				[label]="I18n.setting.APPEARANCE_LIGHT | i18n"
				value="light"
				formControlName="appearance"
			/>
			<input
				appThemed
				type="radio"
				[label]="I18n.setting.APPEARANCE_DARK | i18n"
				value="dark"
				formControlName="appearance"
			/>
		</form>
	</div>

	<div class="flex-col gap-4">
		<div class="flex-col gap-2">
			<h4>{{ I18n.setting.BOARD | i18n }}</h4>

			<p class="fs-sm color-contrast-mid">{{ I18n.setting.BOARD_INTRO | i18n }}</p>
		</div>

		<app-board-demo />

		<div class="flex-col gap-2">
			<h5>{{ I18n.setting.MOVE_SPEED | i18n }}</h5>

			<p class="fs-sm color-contrast-mid">{{ I18n.setting.MOVE_SPEED_INTRO | i18n }}</p>

			<form [formGroup]="form" class="flex-col gap-1">
				@for (speed of moveSpeeds; track speed) {
					<input
						appThemed
						type="radio"
						[label]="speedLabel[speed] | i18n"
						[value]="speed"
						formControlName="moveSpeed"
					/>
				}
			</form>
		</div>

		<div class="flex-col gap-2">
			<h5>{{ I18n.setting.MOVE_ANIMATION | i18n }}</h5>

			<p class="fs-sm color-contrast-mid">{{ I18n.setting.MOVE_ANIMATION_INTRO | i18n }}</p>

			<form [formGroup]="form" class="flex-col gap-1">
				@for (animation of moveAnimations; track animation) {
					<input
						appThemed
						type="radio"
						[label]="animationLabel[animation] | i18n"
						[value]="animation"
						formControlName="moveAnimation"
					/>
				}
			</form>
		</div>

		<div class="flex-col gap-2">
			<h5>{{ I18n.setting.MOVE_INPUT | i18n }}</h5>

			<p class="fs-sm color-contrast-mid">{{ I18n.setting.MOVE_INPUT_INTRO | i18n }}</p>

			<form [formGroup]="form.controls.moveInput" class="flex-col gap-1">
				<input
					appThemed
					type="checkbox"
					[label]="inputLabel.click | i18n"
					formControlName="click"
				/>

				<input appThemed type="checkbox" [label]="inputLabel.drag | i18n" formControlName="drag" />
			</form>
		</div>

		<div class="flex-col gap-2">
			<h5>{{ I18n.setting.SOUND | i18n }}</h5>

			<p class="fs-sm color-contrast-mid">{{ I18n.setting.SOUND_INTRO | i18n }}</p>

			<form [formGroup]="form" class="flex-col gap-1">
				<input
					appThemed
					type="checkbox"
					[label]="I18n.setting.SOUND_TOGGLE | i18n"
					formControlName="sound"
				/>
			</form>
		</div>
	</div>

	<p class="flex-row flex-grow justify-center align-end mono fs-sm">
		{{ I18n.setting.VERSION | i18n: { version: VERSION } }}
	</p>
</section>
