:host {
	pointer-events: none;

	display: block;

	width: 100%;
	height: 100%;

	filter: drop-shadow(var(--outline-width) 0 0 var(--piece-outline))
		drop-shadow(calc(-1 * var(--outline-width)) 0 0 var(--piece-outline))
		drop-shadow(0 var(--outline-width) 0 var(--piece-outline))
		drop-shadow(0 calc(-1 * var(--outline-width)) 0 var(--piece-outline));

	div {
		width: 100%;
		height: 100%;

		background-color: var(--piece-color);

		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: 90%;
	}

	&.white {
		--outline-width: 1px;
		--piece-color: rgb(225 226 225);
		--piece-outline: rgb(30 34 36 / 75%);
	}

	&.black {
		--outline-width: 1px;
		--piece-color: rgb(30 34 36);
		--piece-outline: rgb(225 226 225 / 75%);
	}
}
